h1 {
    color: blue;
    background-color: red;
}

h2 {
    color: #111163f1;
    background-color: orange;
}

h3 {
    color:rgb(24, 244, 255);
    background-color: yellow;
}

h4 {
    color: rgba(14, 211, 111, 0.5);
    background-color: green;
}

h5 {
    color: seagreen;
    background-color: blue;
}

h6 {
    color: #6281f5;
    background-color: indigo;
}

p {
    color: white;
    background-color: violet;
}



li:nth-child(1){
    color: hotpink;
    border: 5px solid green;


}

li:nth-child(3) {
    background-color: peachpuff;
    border: 5px solid green;
}

